/* ==========================================================================
  Base Typography Styles
  ========================================================================== */

/* ==========================================================================
   Base Type
   ========================================================================== */
* {
  &::-moz-focus-inner {
    border: 0;
  }
  &:focus,
  &:active,
  &:hover {
    &::-moz-focus-inner {
      border: 0;
    }
    outline: 0;
  }
}

html {
  @include font-rem($htmlFontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  text-rendering: optimizeLegibility;
  // text-rendering: geometricPrecision;
}

body {
  @include font-rem($htmlFontSize);
  line-height: $baseLineHeight;
  color: color(text);
  background-color: color(background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
select,
textarea {
  font-family: $baseFontFamily;
}

/* ==========================================================================
   Headings and paragraph
   ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-style: normal;
  //@extend .font-weight-bold;
  @extend .font-weight-regular;
}

h1,
.h1 {
  @include font-rem(48px, 56px);
  //  @include bp(standard-desktop){
  //     @include font-rem(35px,40px);
  //  }
  @include bp(tablet-sm) {
    @include font-rem(36px, 40px);
  }
}

h2,
.h2 {
  @include font-rem(40px, 48px);
  //  @include bp(standard-desktop){
  //    @include font-rem(45px,50px);
  // }
  @include bp(tablet-sm) {
    @include font-rem(28px, 32px);
  }
}

h3,
.h3 {
  @include font-rem(32px, 40px);
  @include bp(tablet-sm) {
    @include font-rem(24px, 28px);
  }
}

h4,
.h4 {
  @include font-rem(24px, 28px);
  @include bp(tablet-sm) {
    @include font-rem(20px, 28px);
  }
}

h5,
.h5 {
  @include font-rem(20px, 26px);
  @include bp(tablet-sm) {
    @include font-rem(14px, 22px);
  }
}

h6,
.h6 {
  @include font-rem(14px, 18px);
  @include bp(tablet-sm) {
    @include font-rem(9px, 12px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li {
  word-wrap: break-word;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: color(heading);
  text-decoration: none;
  transition: color 0.35s ease;
  // @include bp(tablet-md) {
  //   &:hover {
  //     color: color(primary, light);
  //     text-decoration: underline;
  //   }
  // }
}

button,
button.btn {
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}
