// Footer styles
.footer {
  margin-top: 91px;
  padding-block: 70px;
  background-color: color(white);
  @include bp(tablet-sm) {
    position: sticky;
    overflow: auto;
    bottom: 0;
    z-index: 97;
    left: 0;
    width: 100%;
    margin-top: 46px;
    padding-block: 15px;
  }

  &__icons {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 2px;
  }

  &__icon {
    cursor: pointer;

    svg {
      width: 89px;
      height: 100%;
      @include bp(tablet-sm) {
        width: 44px;
      }
    }
  }
} //main footer class
