// Footer styles
.footer {
  &__wrapper {
    @include bp(tablet-md){
      margin-inline: -8px;
    }
    .column {
      @include bp(tablet-md){
        padding-inline: 8px;
      }
      flex: 1 0 20%;
      @include bp(tablet-sm) {
        //flex: 1 0 20%;
        flex: 100%;
      }
      @include bp(mobile) {
        flex: 100%;
      }
    }
    @include bp(tablet-sm) {
      flex-wrap: wrap;
      // gap: 25px 0;
      gap: 25px 10px;
    }
    @include bp(tablet-sm) {
      gap: 0;
    }
  }
  hr {
    margin: 30.5px 0 27px 0;
    color: color(secondary, grey);
    @include bp(tablet-sm) {
      margin: 32px 0 35px 0;
    }
  }
  a {
    font-family: $baseFontFamily;
    @include font-rem(16px, 24px);
    color: color(text);
    @extend .font-weight-light;
    @include bp(mobile) {
      @include font-rem(18px, 23px);
    }
  }
  background-color: color(secondary, lighter);
  @include bp(tablet-md) {
    padding-top: 56px;
    padding-bottom: 34px;
  }
  @include bp(tablet-sm) {
    padding-top: 64px;
    padding-bottom: 39px;
  }
  &__heading {
    margin: 0;
    padding-bottom: 15px;
    @include bp(tablet-sm) {
      padding-bottom: 19px;
    }
    font-family: $baseFontFamily;
    @include font-rem(16px, 24px);
    color: color(text);
    @extend .font-weight-regular;
    @include bp(tablet-sm) {
      @include font-rem(18px, 23px);
    }
  }
  &__menu {
    li {
      &:not(:last-child) {
        padding-bottom: 15px;
        @include bp(tablet-sm) {
          padding-bottom: 19px;
        }
      }
    }
  }
  &__top {
    // col counts
    .column-1 {
      @include bp(tablet-md){
        .footer{
          &__logo, &__contact-info{
            max-width: 235px;
          }
        }
      }
      @include bp(mobile) {
        order: 0;
      }
      .footer {
        &__logo {
          img {
            max-width: 148.84px;
            max-height: 32px;
            @extend .object-contain;
          }
          .site-logo {
            display: inline-block;
            //height: 100%;
            width: 100%;
          }
        }
        &__heading {
          margin: 0;
          @include bp(tablet-md) {
            padding-top: 32px;
          }
          padding-bottom: 0;
          p {
            margin: 0;
          }
          font-family: $baseFontFamily;
          @include font-rem(16px, 24px);
          color: color(text);
          @extend .font-weight-light;
          @include bp(mobile) {
            @include font-rem(18px, 24px);
          }
        }
        &__contact-info {
          @include bp(tablet-md) {
            padding-top: 27px;
            .email {
              display: inline-block;
              padding-top: 11px;
            }
          }
          @include bp(tablet-sm) {
            display: flex;
            flex-wrap: wrap;
            padding-top: 25px;
            gap: 19px 0;
            .link {
              text-decoration: underline;
              width: 100%;
            }
          }
          @include bp(mobile) {
            .link {
              @include font-rem(18px, 24px);
            }
          }
          a{
            text-decoration: underline;
            @include bp(hover){
              text-decoration: none;
            }
          }
        }
        &__social-icon {
          @include bp(tablet-md) {
            padding-top: 25px;
          }

          &.item{
            @include bp(mobile){
              position: relative;
            }
          }
          .some-icon {
            gap: 0 15px;
            margin-top: 2px;
            @include bp(tablet-sm) {
              gap: 0 16px;
              margin-top: 0; 
              max-width: 90px;   
              flex-wrap: wrap;          
              .some-icon__item{                
                flex-basis: calc(50% - 16px);
              }
            }

            @include bp(tablet-sm){
              position: absolute;
              right: 0;
              min-width: 90px;
            }
          }
        }        
      }
      .contact-social-wrapper-mob {
        .some-icon__item {
          a,
          img {
            display: inline-block;
            width: 100%;
            height: 100%;
            min-width: 24px;
            min-height: 24px;
            @include bp(tablet-sm) {
              min-width: 37px;
              min-height: 36px;
            }
          }
        }
        @include bp(tablet-sm) {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }
        @include bp(tablet-sm) {
          padding-top: 32px;
          position: relative;
        }
      }
    }
    .column-2 {
      @include bp(tablet-sm) {
        order: 3;
        padding-top: 51px;
      }
      @include bp(tablet-md){
        .footer__menu-wrap{
          padding-left: 57px;
        }
      }
    }
    .column-3 {
      @include bp(tablet-md){
        .footer__menu-wrap-1, .footer__menu-wrap-2{
          padding-left: 27px;
        }
      }
      @include bp(tablet-sm) {
        order: 2;
        padding-top: 40.63px;
      }
      .footer {
        &__menu-wrap-2 {
          h3 {
            padding-top: 35.5px;
            @include bp(mobile) {
              padding-top: 51px;
            }
          }
        }
      }
    }
    .column-4 {
      @include bp(tablet-md){
        .footer__menu-wrap{
          padding-left: 27px;
        }
      }
      @include bp(tablet-sm) {
        order: 4;
        padding-top: 51px;
      }
    }
    .column-5 {
      @include bp(tablet-sm) {
        order: 1;
        padding-top: 35px;
      }
      .footer {
        &__btn {
          flex-wrap: wrap;
          gap: 8.38px 0;
          @include bp(tablet-md){
            justify-content: flex-end;
          }
          .site-btn {
            color: color(white);
            &:hover {
              color: color(text);
              @include bp(tablet-sm){
                color: color(white);
              }
            }
          }
        }
        &__cta {
          text-decoration: none;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          @extend .font-weight-regular;
          @include bp(tablet-md){
            max-width: 204px;
          }          
        }
      }
    }
  }

  &__bottom {
    .column {
      flex: 1 0 50%;
      @media (min-width: 768px) {
        display: flex;
        align-items: center;
      }
    }
    // col counts
    .column-1 {
      @include bp(tablet-strict){
        max-width: 80%;
      }
      @include bp(standard-tablet){
        max-width: 75%;
      }

      .footer {
        &__copyright {
          @media (min-width: 768px) {
            padding-right: 38px;
          }
          @extend .font-weight-regular;
          @include font-rem(14px, 20px);
          @include bp(tablet-sm) {
            @include font-rem(16px);
          }
          @include bp(mobile) {
            padding-bottom: 20px;
          }
        }
        &__privacy {
          @media (min-width: 768px) {
            padding-right: 43px;
          }
          a {
            @extend .font-weight-regular;
            @include font-rem(14px, 20px);
            @include bp(tablet-sm) {
              @include font-rem(16px);
            }
            @include bp(mobile) {
              padding-bottom: 19px;
            }
          }
          @include bp(mobile) {
            padding-bottom: 19px;
          }
        }
        &__cookies {
          a {
            @extend .font-weight-regular;
            @include font-rem(14px, 20px);
            @include bp(tablet-sm) {
              @include font-rem(16px);
            }
          }
        }
      }
    }
    .column-2 {
      @include bp(tablet-strict){
        max-width: 20%;
      }
      @include bp(standard-tablet){
        max-width: 25%;
      }

      .some-icon {
        img {
          width: 100%;
          max-width: 24px;
        }
        justify-content: end;
        gap: 0 16px;
      }
    }
  }
} //main footer class
