



.links a {
  padding-inline: 10px;
}

.booklist {
  background-color: white;
  box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.213);
  padding: 10px;
}

.booklist img {
  width: 100%;
  /* height: 367px; */
  object-fit: cover;
}


/* stop_watch */
.timer {
  font-size: 38px;
  line-height: normal;
}

button {
  background-color: red;
  border: none;
  max-width: 325px;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

button.plus {
  background-color: green;
}

button.minus {
  background-color: orange;
}